.background {
  // background: #d29cff;
  // background: -webkit-linear-gradient(90deg, rgba(210, 156, 255, 1) 0%, rgba(176, 23, 150, 1) 100%);
  // background: -moz-linear-gradient(90deg, rgba(210, 156, 255, 1) 0%, rgba(176, 23, 150, 1) 100%);
  // background: linear-gradient(90deg, rgba(210, 156, 255, 1) 0%, rgba(176, 23, 150, 1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#D29CFF", endColorstr="#B01796", GradientType=1);

  background-image: radial-gradient(circle, #540000, #67001a, #760033, #800051, #810074);

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  z-index: 1000;

  background-image: radial-gradient(
    circle,
    #ff95d1,
    #fe96d9,
    #fb98e2,
    #f89aea,
    #f49cf3,
    #f099f0,
    #eb97ee,
    #e794eb,
    #e28bdc,
    #dc82cd,
    #d57abf,
    #ce72b1
  );

  width: 300px;
  height: 300px;
  max-width: 90%;
  border-radius: 40px;

  box-shadow: 2px 1px 62px 44px #ce72b1;
  -webkit-box-shadow: 2px 1px 62px 44px #ce72b1;
  -moz-box-shadow: 2px 1px 62px 44px #ce72b1;
}
